.container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialNetworks{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    cursor: pointer;
}